<!DOCTYPE html>
<html lang="en">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

    <head>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allstations">Stations</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <title>About</title>
        <meta charset=utf-8>
    </head>

    <body>
        <p>'OhWheelie' web application, designed and written by Michelle Duggan, Shane Dunne and Kyle Malone Stuart.</p>
        <p>University College Dublin 2021. </p>

    </body>
</html>