<!DOCTYPE html>
<html lang="en">
<style>
.nav {
  background-color: Black;
  overflow: hidden;
  margin: 0px;
  border: 0px;
  padding: 10px;
}
.nav a {
  float: left;
  display: block;
  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav">
    <a href="localhost:5000/stations/3">Oh_Wheelie.inc</a>
    <a href="#">Home</a>
    <a href="#">Stations</a>
    <a href="#">about</a>
</div>

</body>
</html>