<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stations</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body class="stationspage">

        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allstations">Stations</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>


        <div id="basic_info">
            <table><th><h1>{{ indiv_stat.address[0] }}</h1></th> </table>

            <table>
                <tr>
                    <th>Station number</th>
                    <th>Available Bikes</th>
                    <th>Available Bike Stands</th>
                    <th>Most recent update</th>
                    <th>Status</th>
                    <th>Weather</th>
                    <th>Weather Icon</th>
                    <th>View on Map</th>
                </tr>

                <tr>
                    <th>{{ indiv_stat.Station_number[0] }}</th>
                    <th>{{ indiv_stat.available_bikes[0] }}</th>
                    <th>{{ indiv_stat.available_bike_stands[0] }}</th>
                    <th><a id="demo"></a></th>
                    <th>{{ indiv_stat.status[0] }}</th>
                    <th>{{ weather_data.weather_symbol[0] }} <br> {{weather_data.temp_val[0]}}<span>&#176;</span>C <br> {{weather_data.rain_val[0]}}mm</th>
                    <th><img src="/static/images/{{weather_data.weather_symbol[0]}}.png"></th>
                    <th><a href="/"><img src={{url_for('static', filename='marker.png')}}></a></th>
                </tr>
            </table>
        </div>
        <div class="graph">
        <button  id="Temperature" onclick="Temperature()">Temperature</button>
        <button  id="Percipitation" onclick="percipitation()">Rainfall</button>
        <div class="chart">
            <div id = 'Weather_chart'></div>
        </div>
        </div>
        <div id = 'columnchart_values'></div>
        </div>
        <div class="graph">
            <button  onclick="draw_avg_bikes()" >Avg. Bike Occupancy Hourly</button>
            <button onclick="avg_bikes_day()">Avg. Bike Occupancy Daily</button>
            <div class="chart">
                <div id = 'bike_values'></div>
            </div>
        </div>
        <table><th><h1>Predicted Bike Availability
        <form method="POST">
        <select class="form-control" name="times" id="times" onload="timechange()">
            <option value= -1 selected>Times</option>
        </select>
        <input type="submit">
        </form>
        </h1></th> </table>
        <div>{{user}}</div>
        <script>
        var x ='{{ indiv_stat.Station_number[0] }}';
        var long = '{{indiv_stat.longitude[0]}}';
        var lat = '{{indiv_stat.latitude[0]}}';
        localStorage.setItem("coord", long);
        localStorage.setItem("coord2", lat);

        var d = '{{indiv_stat.time[0]}}';
        d = '{{indiv_stat.date[0]}} ' + d.split(' ')[2];
        document.getElementById("demo").innerHTML = d;

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(Temperature);

        </script>
    <script  src="{{ url_for('static', filename='individ.js') }}" type="text/javascript"></script>
    </body>

</html>