<!DOCTYPE html>
 <html lang="en">
 <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<head>
    <title>Stations</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="nav">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allstations">Stations</a></li>
        <li><a href="/about">About</a></li>
        </ul>
    </div>
<div id="basic_info">

    <div class="temp">Station number:</div>
    <div class="temp">Address:</div>
    <div class="temp">Available Bikes:</div>
    <div class="temp">Available Bike Stands:</div>
    <div class="temp">Most recent update:</div>
    <div class="temp">Status:</div>
    <div class="temp">Weather: </div>
    <div class="temp">Icon: </div>

    <div id="divider">

        <div class="temp">{{ indiv_stat.Station_number[0] }}</div>
        <div class="temp">{{ indiv_stat.address[0] }}</div>
        <div class="temp">{{ indiv_stat.available_bikes[0] }}</div>
        <div class="temp">{{ indiv_stat.available_bike_stands[0] }}</div>
        <div class="temp"><a id="demo"></a></div>
        <div class="temp">{{ indiv_stat.status[0] }}</div>
        <div class="temp">{{ weather_data.weather_symbol[0] }} <br> {{weather_data.temp_val[0]}}<span>&#176;</span>C <br> {{weather_data.rain_val[0]}}mm</div>
        <div class="temp"><div id="weather_sym"></div></div>
    </div>
</div>
 </body>
 <script>
var long = '{{indiv_stat.longitude[0]}}';
var lat = '{{indiv_stat.latitude[0]}}';
localStorage.setItem("coord", long);
localStorage.setItem("coord2", lat);

var d = '{{indiv_stat.time[0]}}';
 d = '{{indiv_stat.date[0]}} ' + d.split(' ')[2];
document.getElementById("demo").innerHTML = d;


var sym = '{{weather_data.weather_symbol[0]}}';
var weather_symbol = document.getElementById("weather_sym")
if ( sym === 'Cloud' ) {
    weather_symbol.innerHTML = "<img1 src='{{url_for('static', filename='Cloudy.png')}}' class='weather_sym' alt='Cloudy' style='object-fit:contain; width:200px;'>";
}
else if (sym === "PartlyCloud" || sym === "LightCloud") {
    weather_symbol.innerHTML = "<img1 src='{{url_for('static', filename='Partlycloud.jpg')}}' class='weather_sym' alt='Partly Cloudy' >";
}
else if (sym === "sunny") {
    weather_symbol.innerHTML = "<img1 src='{{url_for('static', filename='sunny.png')}}' class='weather_sym' alt='Sunny'> ";
}
else if (sym === "LightRainSun" || sym === "RainSun") {
    weather_symbol.innerHTML = "<img1 src='{{url_for('static', filename='light_rain_sunny.png')}}' class='weather_sym' alt='light_rain_sunny'> ";
}


 </script>
 </html>