@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 93%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    height: 100%;
    margin: 0;
    padding: 0;

}

#legend {
    background: #ffd8b1;
    padding: 10px;
    margin: 10px;
    border: 3px solid #FD4363;
}

button {
    /* https://www.fabriziovanmarciano.com/button-styles/ */
    color: #20bf6b !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;}

table, td, th {
    text-align:center
}


#over_map, #weather_map {
    background: #fff;
    border: 3px solid #5FAFB0;
    height: 113px;
    z-index: 2;
    margin: auto;
    position: fixed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

td {
    color:white;

}

td a {
    list-style-type:none;
}


.nav {
    background-color: #7EC694;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    margin: 0px;
    border: 0px;
}

.nav a {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}

.nav ul {
    list-style-type:none;
}

.nav li {
    display: inline;
    padding: 20px;
}

.nav li a:hover:not(.active) {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;}


.station th, tr{
    padding: 25px;
}

#userInput {
    text-align: center;
    width: 800px;
    font-size: 18px;
    padding: 10px 20px 10px 40px;
    border: 4px solid #5FAFB0;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#searchresults {
    color: white;
    font-size: 22px;
    margin: 20px;
}

#searchresults h1 {
    color: black;
    text-align: center;

}

h1 {
    font-size: 40px;
    margin:0px;
    padding: 0px;
}

#searchresults a:link {
    color: white;
    text-decoration: none;
}

#searchresults a:hover:not(.active) {
    color: #494949;
    transition: 0.3s ease 0s;
}


table #searchresults{
    width: 900px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 20px;
    background-color: #5FAFB0;
}

td {
    padding: 20px;
    background-color: #5FAFB0;
}

th {
    color: white;
}



.stationspage {
    background: url(bike.png);
    background-size: 300px;
}



#basic_info {
    margin-top: 30px;
}

.graph {
    float: left;
    border-radius: 5px;
    background-color: #7EC694;
    width: 45%;
    padding: 20px;
    margin: 1em;
    overflow: auto;
}


.chart  {
    width: 95%;
    border: 4px solid black;
    margin: .5em auto;

}

.temp  {
    box-sizing: content-box;
    float: left;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 60px;
    overflow: auto;
    position: static;
    margin: 0;
}
#weather_sym    {
    width: 100px;
    height: auto;
}
img1 {
    max-width: 100%;
    max-height: 50px;
}



p {
    text-align: center;
}

#basic_info div {
    background-color: #5FAFB0;
    color: white;
    font-size: 15px;
}

.temp div {
    margin-left: auto;
    margin-right: auto;
}

#find_stations_page {
    background: url(bike.png);
    background-size: 300px;
}

h4 {
    padding: 10px;
    margin:0px;
    text-align: center;
}

h5 {
    padding: 0px;
    margin:0px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

#details_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
