@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    height: 100%;
    margin: 0;
    padding: 0;

}
#legend {
    font-family: Arial, sans-serif;
    background: #ffd8b1;
    padding: 10px;
    margin: 10px;
    border: 3px solid #FD4363;
  }

button {
    /* https://www.fabriziovanmarciano.com/button-styles/ */
    color: #20bf6b !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;}
    table, td, th {
    text-align:center
}

th {
    color: #FD4363;
}

#over_map{
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 0px;
        margin: 0px;
        border: 3px solid #5FAFB0;
       background-position: 0 0;
	   height: 60px;
	   width: 30%;
       [COLOR="Red"]position: absolute;
       left: 0;
       bottom: 0;[/COLOR]
	   z-index: 2;}



#weather_map {
	font-family: Arial, sans-serif;
    background: #fff;
    padding: 0px;
    margin: 0px;
    border: 3px solid #7ECD94;
	background-position: 0 0;
	height: 50px;
	width: 30%;
    [COLOR="Red"]position: absolute;
    right: 0;
    bottom: 0;[/COLOR]
	z-index: 2;}

#loading_buffer {
    text-align: center;
	font-family: Arial, sans-serif;
    background: #fff;
    padding: 0px;
    margin: 0px;
    border: 3px solid #7ECD94;
	background-position: 0 0;
	height: 20px;
	width: 30%;
    [COLOR="Red"]position: absolute;
    right: 0;
    bottom: 0;[/COLOR]
	z-index: 2;}

.nav {
    background-color: #7EC694;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    margin: 0px;
    border: 0px;
}

.nav a {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
}

.nav ul {
    list-style-type:none;
}

.nav li {
    display: inline;
    padding: 20px;
}

.nav li a:hover:not(.active) {
    color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.station th, tr{
    padding: 25px;
}

#userInput {
    text-align: center;
    width: 800px;
    font-size: 18px;
    padding: 10px 20px 10px 40px;
    border: 4px solid #5FAFB0;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchresults {
    color: white;
    font-size: 22px;
}

#stationspage {
    background: url(bike.png);
    background-size: 300px;
}

h1 {
    color: black;
    text-align: center;
}

#searchresults a:link {
    color: white;
    text-decoration: none;
}

#searchresults a:hover:not(.active) {
    color: #494949;
    transition: 0.3s ease 0s;
}


#searchresults table {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#searchresults th {
    padding: 20px;
    background-color: #5FAFB0;
}

#basic_info {
    overflow: hidden;
    margin-left: 20%;
    margin-top: 20px;
    width: 1000px;
    height: 170px;
    }
#divider    {
    clear: left;
    }
.temp  {
    box-sizing: content-box;
    float: left;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 60px;
    overflow: auto;
    position: static;
    margin: 0;
 }
#weather_sym    {
    width: 100px;
    height: auto;
}
img {
    max-width: 100%;
    max-height: 50px;
}

#searchresults th {
    color: white;
}

p {
    text-align: center;
}